{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Display any error messages #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# User's Profile Picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <p>{{data.user}}</p>
        {# Indicate which user's reviews we're looking at #}
    </div>
</div>
<div class="row">
    <div class="col">
        {% for review in data.reviews %}
            <li class="media review-item">
                <div class="media-body">
                <span class="float-right">
                    <small>{{ review.date }}</small>
                </span>
                <p>
                    {{ review.content }}
                </p>
                </div>
            </li>
        { % endfor % }
    </div>
</div>
{% endblock %}